<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polishing Scheduler </title>
</head>
<body>
<header id="header" style="background: orange;
    padding: 20px;
    width: 100%;
    margin-left: -20px;
    margin-top: -20px;">
    <div style="    font-size: 28px;
    font-weight: bold;
    display: inline;">BEinCPPS</div>
    <div style="font-size: 28px;
    font-weight: bold;float:right">CPMSinCPPS</div>

</header>
<div>
    {% block content %}


    {% endblock %}

</div>
<footer id="footer">
    <div>
        <div style="display:inline; width:10%; height:10%"><img style="width:10%; height:10%" src="/static/imgs/UNINOVA_logo.png"></div>
        <div style="display:inline; width:10%; height:10%"><img style="width:10%; height:10%" src="/static/imgs/download.png"></div>
        <div style="display:inline;width:10%; height:10%"><img style="width:10%; height:10%" src="/static/imgs/cristema_logo.png"></div>
    </div>
</footer>

{% block extras %}

{% endblock %}
</body>
</html>