backcall==0.1.0
bokeh==0.13.0
certifi==2022.12.7
chardet==3.0.4
colorama==0.3.9
cycler==0.10.0
decorator==4.3.0
Django==2.0.6
idna==2.7
ipdb==0.11
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
numpy==1.14.5
packaging==17.1
pandas==0.23.1
parso==0.2.1
pickleshare==0.7.4
Pillow==5.1.0
prompt-toolkit==1.0.15
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.12
requests==2.19.1
selenium==3.12.0
simplegeneric==0.8.1
six==1.11.0
tornado==5.0.2
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
xlrd==1.1.0
